.resume-main-head-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:80vh;
}

.resume-head-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:70%;
}

.resume-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:10%;
}

.resume-icon{
    width:25px;
    height:25px;
}

.resume{
    font-family: 'Roboto';
}