.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
   
}

.header-con{
    display: flex;
    width:96%;
    justify-content: space-between;
    align-items: center;
    
}

.header-fir-con{
    display: flex;
    align-items: center;
    width:20%;
    font-family: 'Roboto';
    font-weight: bold;
}

.header-sec-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
    font-family: 'Roboto';
    font-weight: 600;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
  }